<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            description="Sensor Discovery "
            name="Proteus">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.iai.proteus/css/default.css">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.iai.proteus/com.iai.proteus.LifeCycleManager">
         </property>
      </product>
   </extension>

</plugin>
